      <article class="char" id="{{ object.utf8}}">
        <section class="utf8">{{ object.utf8 }}</section>
        <section class="refs">
          <div class="mandarin">{{ object.mandarin }}</div>
          <div class="kangxi">{{ object.radical.utf8 }} {{ object.radical.radical_number }} + {{ object.residual_strokes }}</div>
          <div class="links">
            <ul>
              <li><a href="https://ctext.org/pre-qin-and-han?searchu={{ object.utf8 }}" title="Search ctext" target="_blank" rel="noopener noreferrer nofollow">C</a></li>
              <li><a href="https://en.wiktionary.org/wiki/{{ object.utf8 }}" title="Search Wiktionary" target="_blank" rel="noopener noreferrer nofollow">W</a></li>
            </ul>
          </div>
        </section>
        <section class="definition">
          {{ object.definition }}
        </section>
      </article>
