{% extends "common/base.html" %}
{% load static unihan %}

    {% block content %}
    <main class="padded">
      <header>
        <h1>Unihan lookup</h1>
      </header>
      <article class="lookup">
        <section class="intro">
          <p>
          Submit text containing CJK characters and explore.
          The form limits the number of unique lookups per request to 100.
          Vocabulary data is derived from the
          <a href="https://www.unicode.org/reports/tr38/" title="tr38">Unicode Han Database</a>
          (Unihan).
          </p>
        </section>
        <section id="definition"></section>
        {% if form_data or form.errors %}
        <section class="output">
          {% if form_data %}
          {{ form_data|escape|linkify:unihan_map|linebreaksbr }}
          {% elif form.errors %}
          {{ form.errors.field }}
          {% endif %}
        </section>
        {% endif %}
        <section class="form">
          <form action="" method="POST">
            {% csrf_token %}
{{ form.field }}
            <input type="submit" value="Submit">
          </form>
        </section>
        {% if unihan_map %}
        <h2 class="v-toggle">Vocabulary</h2>
        <section class="vocab v-toggle">
          {% for object in unihan_map.values %}
{% include "unihan/unihan.html" with object=object %}
          {% endfor %}
        </section>
        {% endif %}
      </article>
      <footer>
        <nav>
          <ul>
            <li><a href="/" title="Daoistic home">Home</a></li>
          </ul>
        </nav>
      </footer>
    </main>
    <script defer src="{% static 'common/js/'|add:unihan_script %}"></script>
    {% endblock %}
