{% extends "common/base.html" %}
{% load static unihan %}

    {% block content %}
    <main class="page lookup">
      <header class="margin">
        <h1>Unihan lookup</h1>
        <section class="subtitle">CJK lookup form</section>
      </header>
      <article>
        <section id="definition"></section>
        {% if form_data or form.errors %}
        <section class="output">
          {% if form_data %}
          {{ form_data|escape|linkify:unihan_map|linebreaksbr }}
          {% elif form.errors %}
          {{ form.errors.field }}
          {% endif %}
        </section>
        {% endif %}
        <section>
          <form action="" method="POST">
            {% csrf_token %}
{{ form.field }}
            <input type="submit" value="Submit">
          </form>
        </section>
        {% if unihan_map %}
        <h2 class="js-hidden">Vocabulary</h2>
        <section class="js-hidden">
          {% for object in unihan_map.values %}
{% include "unihan/character.html" with object=object %}
          {% endfor %}
        </section>
        {% endif %}
      </article>
      <footer>
        <nav>
          <ul>
            <li><a href="https://www.unicode.org/reports/tr38/" title="Unihan tr38">Unicode Han Database</a></li>
            <li><a href="https://ctext.org/dao-de-jing" title="Source code">Daodejing</a></li>
            <li><a href="https://www.ubcpress.ca/outline-of-classical-chinese-grammar" title="Outline of Classical Chinese Grammar">Pulleyblank (grammar)</a></li>
            <li><a href="https://brill.com/view/title/20918" title="A Student's Dictionary of Classical and Medieval Chinese">Kroll (dictionary)</a></li>
            <li><a href="/" title="Daoistic home">Home</a></li>
          </ul>
        </nav>
      </footer>
    </main>
    <script defer src="{% static 'common/js/'|add:common_js %}"></script>
    {% endblock %}
