/* Unihan characters */
.character {
  display: flex;
  padding: 0.5rem 1rem 0.5rem;
  border-bottom: 4px solid #2d2d31;
}
.character section.utf8 {
  padding-right: 1rem;
  font-size: x-large;
}
.character section.refs {
  text-align: center;
  padding-right: 1rem;
}
.character div.kangxi {
  font-size: small;
  white-space: nowrap;
}
.character div.links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: inherit;
  margin: 0;
}
.character div.links li {
  padding: 0;
  display: inline-block;
}

/* Unihan character links */
a.unihan {
  font-weight: inherit;
  color: inherit;
}
a.unihan:hover, a.unihan:active, a.unihan:focus {
  border-bottom: inherit;
}
a.unihan.highlight {
  background-color: rgba(106, 176, 243, 0.6);
  border-radius: 10% / 20%;
}

/* Character definition popup */
#definition {
  border: 4px solid #ced4da;
  border-radius: 20px;
  background-color: black;
  visibility: hidden;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#definition article.character {
  border-bottom: none;
}
#definition.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
}
#definition.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms;
}

/* Character definition popup media tweaks */
@media (min-width: 600px) {
  #definition {
    max-width: 600px;
  }
}
