@charset "utf-8";

$family-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$white-ter: hsl(0, 0%, 96%) !default;
$dark: hsl(0, 0%, 21%);

$family-secondary: $family-serif;
$footer-background-color: $white-ter;
$link: $dark;

@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/components/card.sass";
@import "../bulma/sass/components/media.sass";
@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/elements/content.sass";
@import "../bulma/sass/elements/image.sass";
@import "../bulma/sass/elements/title.sass";
@import "../bulma/sass/layout/footer.sass";
@import "../bulma/sass/layout/section.sass";
