{% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/img/b/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'common/img/b/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'common/img/b/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'common/img/b/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'common/img/b/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'common/img/b/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{% static 'common/img/b/browserconfig.xml' %}">
    <meta name="theme-color" content="#6ab0f3">
