{% extends "common/base.html" %}

{% block content %}
    <main class="page cards">
      <header>
        <h1>{{ view.archive.title }}</h1>
        <section class="subtitle">{{ view.archive.subtitle }}</section>
      </header>
      {% for object in object_list %}
      {% include "blog/entry-card.html" with object=object %}
      {% endfor %}
      <footer>
        <nav>
          <ul>
            <li><a href="{% url 'blog-archive-index' %}" title="Archive home">Archive</a></li>
            <li><a href="/" title="Daoistic home">Home</a></li>
          </ul>
        </nav>
      </footer>
    </main>
{% endblock %}
