{% load static %}
      <article class="card">
        <section>
          <a href="{% url 'entry' object.slug %}" title="Read {{ object.title.strip }}">
            <figure>
              <img src="{% static 'blog/img/'|add:object.card_img %}" alt="{{ object.card_img }}">
            </figure>
          </a>
        </section>
        <section>
          <a class="plain" href="{% url 'entry' object.slug %}" title="Read {{ object.title.strip }}">{{ object.title.strip }}</a>
          {% if not object.allow_hanzi %}
          <a class="study" href="{% url 'study' object.slug %}" title="Read {{ object.title.strip }} with notes and vocabulary">文</a>
          {% endif %}
          <p class="date">{{ object.card_date }}</p>
          <p>{{ object.lede.strip }}</p>
        </section>
      </article>
