{% extends "blog/base.html" %}
{% load static %}

{% block open_graph %}
{% include "blog/entry_og.html" %}
{% endblock %}

        {% block navbar_right %}<a class="navbar-item is-hidden-desktop" style="margin-left: auto;" title="Blog home" href="/blog">Blog</a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" title="Blog home" href="/blog">Blog</a>
        </div>
      </div>{% endblock %}

{% block content_style %}
    <style type="text/css" media="screen">
      p { margin: 1rem; }
      .is-family-serif { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
      #title { padding-top: 2rem; }
      #references { margin-top: 1rem; }
    </style>
{% endblock %}

{% block content %}
    <section class="section">
      <div class="container">
        <figure class="image is-3by1">
          <img src="{% static static_img %}">
        </figure>
        <h3 id="title" class="subtitle is-3 is-family-serif">{{ object.title }}</h3>
        <div class="is-size-5 has-text-black is-family-serif">
{{ entry|safe }}
        </div>
        <div class="is-size-6">
          © {{ object.last_update.year }} Peter Christensen, CC BY-NC-SA.
          Last update {{ object.last_update }}.
        </div>
      </div>
      <footer class="footer">
        <div class="content has-text-centered is-dark">
          {% for ref in refs %}<p>{{ ref|safe }}</p>
          {% endfor %}
          <p><a href="/blog" title="Blogging the unbloggable">Blog home</a></p>
        </div>
      </footer>
    </section>
{% endblock %}
