{% extends "common/base.html" %}
{% load static unihan %}

{% block open_graph %}
{% include "blog/open-graph.html" %}
{% endblock %}

{% block content %}
    <main class="entry">
      <header>
        <figure>
          <img src="{% static 'blog/img/'|add:header_img %}" alt="{{ header_img }}">
        </figure>
      </header>
      <article>
        <h1>{{ object.title }}</h1>
        <section class="content">
{{ content|linkify:unihan_map }}
        </section>
        <section class="copyright">
          © {{ object.first_published.year }} Peter Christensen, CC BY-NC-SA 4.0.
          Last update {{ object.last_update }}.
        </section>
        {% if notes %}
        <h2>Notes</h2>
        <section class="notes">
{{ notes|linkify:unihan_map }}
        </section>
        {% endif %}
        {% if unihan_map %}
        <h2 class="js-hidden">Vocabulary</h2>
        <section id="definition"></section>
        <section class="js-hidden">
          {% for object in unihan_map.values %}
{% include "unihan/character.html" with object=object %}
          {% endfor %}
        </section>
        {% endif %}
      </article>
      <footer>
        <nav>
          <ul>
            {% for link in ref_links %}
            <li>{{ link|safe }}</li>
            {% endfor %}
            {% if plain_link %}
            <li><a title="Without vocab or notes" href="{% url 'blog-entry-plain' object.slug %}">In plain English</a></li>
            {% elif study_link %}
            <li><a title="Study {{ object.title }}" href="{% url 'blog-entry-study' object.slug %}">With vocab and notes</a></li>
            {% endif %}
            {% if object.archive %}
            <li><a title="{{ object.archive.subtitle }}" href="{% url 'blog-archive-list' object.archive.slug %}">{{ object.archive.title }}</a></li>
            {% endif %}
            <li><a href="/" title="Daoistic home">Home</a></li>
          </ul>
        </nav>
      </footer>
    </main>
    {% if unihan_map %}
    <script defer src="{% static 'common/js/'|add:common_js %}"></script>
    {% endif %}
{% endblock %}
