{% extends "common/base.html" %}
{% load static unihan %}

{% block open_graph %}
{% include "blog/open_graph.html" %}
{% endblock %}

{% block content %}
    <main>
      <header class="entry-header">
        <figure>
          <img src="{% static 'blog/img/'|add:header_img %}" alt="{{ header_img }}">
        </figure>
      </header>
      <article class="entry">
        <h1>{{ object.title }}</h1>
        <section class="content">
{{ content|linkify:char_map }}
        </section>
        <section class="copyright">
          © {{ object.first_published.year }} Peter Christensen, CC BY-NC-SA 4.0.
          Last update {{ object.last_update }}.
        </section>
        {% if notes %}
        <h2>Notes</h2>
        <section class="notes">
{{ notes|linkify:char_map }}
        </section>
        {% endif %}
        {% if char_map %}
        <h2>Vocabulary</h2>
        <section class="chars">
          {% for object in char_map.values %}
{% include "unihan/char.html" with object=object %}
          {% endfor %}
        </section>
        {% endif %}
      </article>
      <footer>
        <nav>
          <ul>
            {% for link in ref_links %}<li>{{ link|safe }}</li>
            {% endfor %}
            {% if link == 'plain' %}
            <li><a title="Without vocabulary or notes" href="{% url 'entry' object.slug %}">Plain</a></li>
            {% elif link == 'study' %}
            <li><a title="With vocabulary and notes" href="{% url 'study' object.slug %}">Study</a></li>
            {% endif %}
            <li><a href="/" title="Daoistic home">Home</a></li>
          </ul>
        </nav>
      </footer>
    </main>
{% endblock %}
