<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block open_graph %}{% endblock %}
    <link rel="icon" type="image/png" href="{% static 'book/img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'book/img/touch-icon-152.png' %}"/>
    <link rel="stylesheet" href="{% static 'book/css/bootstrap.min.css' %}">
    {% block content_style %}{% endblock %}
    {% block footer_style %}{% endblock %}
    <title>{% block page_title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar static-top navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand font-weight-bold" href="{{ brand_href }}" title="{{ brand_title }}">
          <img src="{% static 'book/img/taijitu.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Taijitu">
          Daoistic
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-bold">
          {% block navbar_links %}{% endblock %}
        </ul>
      </div>
    </nav>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <script src="{% static 'book/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'book/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'book/js/popper.min.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
