{% extends "daoistic/base.html" %}

{% block open_graph %}
{% include "daoistic/open_graph.html" %}
{% endblock %}

    {% block content_style %}
    <style type="text/css" media="screen">
      .content p {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.25rem;
      }
    </style>
    {% endblock %}

{% block page_title %}About Daoistic{% endblock %}

          {% block navbar_links %}
          <li class="nav-item">
            <a class="nav-link" href="/poems" title="Poems home">Poems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/studies" title="Studies home">Studies</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about" title="About this site">About<span class="sr-only">(current)</span></a>
          </li>
          {% endblock %}

    {% block content %}
    <div class="container-fluid mt-4 mb-5">
      <div class="row">
        <div class="col content">
            {{ about|safe }}
        </div>
      </div>
    </div>
    {% endblock %}
