{% extends "daoistic/poems.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

    {% block content_style %}
    <style type="text/css" media="screen">
      .card a:hover { text-decoration: none; }
    </style>
    {% endblock %}

    {% block content %}
    <div class="container-fluid mt-4">
      <div class="row">
        {% for chapter in chapter_list %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card mr-2 mb-4">
            <a href="/poems/chapter/{{ chapter.number }}" class="text-dark">
              <div class="card-body">
                <h4 class="card-title">{{ chapter.title }}</h4>
                <h6>Chapter {{ chapter.number }}</h6>
                <h6>{{ chapter.summary }}</h6>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}

{% block footer_style %}
{% include "daoistic/pager_style.html" with pager_type="poems" %}
{% endblock %}

{% block footer %}
{% include "daoistic/pager.html" with pager_type="poems" %}
{% endblock %}

{% block scripts %}<script src="/static/daoistic/js/nav.js"></script>{% endblock %}
