{% extends "daoistic/poems.html" %}
{% load static %}

{% block open_graph %}
{% include "daoistic/open_graph.html" %}
{% endblock %}

{% block page_title %}{{ page_title }}{% endblock %}

    {% block content_style %}
    <style type="text/css" media="screen">
      .card a:hover { text-decoration: none; }
      .pagination { justify-content: center; }
    </style>
    {% endblock %}

    {% block content %}
    <div class="container-fluid mt-4 text-center">
      <div class="row justify-content-center">
        {% for chapter in chapter_list %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card mr-2 mb-4">
            <a href="/poems/{{ chapter.number }}" class="text-dark">
              <div class="card-body">
                <h4 class="card-title">{{ chapter.title }}</h4>
                <h6>Chapter {{ chapter.number }}</h6>
                <h6>{{ chapter.summary }}</h6>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}

{% block footer_style %}
{% include "daoistic/list_pager_style.html" %}
{% endblock %}

{% block footer %}
{% include "daoistic/list_pager.html" with pager_type="poems" %}
{% endblock %}

{% block scripts %}<script src="{% static 'daoistic/js/nav.js' %}"></script>{% endblock %}
