{% extends "daoistic/base.html" %}
{% load daoistic_extras %}

    {% block content_style %}
    <style type="text/css" media="screen">
      .list-group { max-width: 400px; }
      .chapter-hanzi { font-size: 1.4em; }
      .chapter-ref { color: inherit; }
      a.chapter-ref:hover { color: inherit; }
      .highlight { color: red; }
    </style>
    {% endblock %}

{% block page_title %}{{ chars }} in {{ book }} Chapter search{% endblock %}

          {% block navbar_links %}
          <li class="nav-item">
            <a class="nav-link" href="/poems" title="Poems home">Poems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/studies" title="Studies home">Studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" title="About this site">About</a>
          </li>
          {% endblock %}

    {% block content %}
    <div class="container-fluid mt-4 mb-4">
      <div class="row">
        <div class="col">
          <h4 class="mb-4">Chapters in {{ book }} containing {{ chars }}</h4>
          {% for chapter in chapter_list %}
          <div class="row">
            <div class="col-12">
              {% if chapter.published or not chapter.published and user.is_authenticated %}
              <a class="chapter-ref" href="/studies/chapter/{{ chapter.number }}" title="Chapter {{ chapter.number }} study">Chapter {{ chapter.number }}</a>
              {% else %}
              Chapter {{ chapter.number }}
              {% endif %}
            </div>
            <div class="col-12 chapter-hanzi mb-4">
{{ chapter.hanzi|highlight:chars }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}
